{% include 'MyApp/base.html' %}
{% block body_block %}

<br><br>

<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
          <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Koms N Cakes">
                  <input type="submit" name="submit" value="Koms N Cakes" class="shop_btn">
              </form>
              <i class='fas fa-map-marker-alt' style='font-size:24px'>360,Aman Colony,jalandhar,Punjab</i>
              <p style="color:Green">OPEN</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
          <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Radhika Department Store">
                  <input type="submit" name="submit" value="Radhika Department Store" class="shop_btn">
              </form>
              <i class='fas fa-map-marker-alt' style='font-size:24px'>LP-34,Ram Nagar,Gorakhpur,Uttar Pradesh</i>
              <p style="color:Green">OPEN</p>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
          <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Gyani Dhaba">
                  <input type="submit" name="submit" value="Gyani Dhaba" class="shop_btn">
              </form>
              <i class='fas fa-map-marker-alt' style='font-size:24px'>268,Worli,Navi Mumbai,Maharashtra</i>
              <p style="color:Green">OPEN</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
          <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Maa Durga Veg Shop">
                  <input type="submit" name="submit" value="Maa Durga Veg Shop" class="shop_btn">
              </form>
              <i class='fas fa-map-marker-alt' style='font-size:24px'>TN-890,Badhaiya Maholla,Siwan,Bihar</i>
              <p style="color:Green">OPEN</p>
              </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
          <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Jai Bajrang Dairy">
                  <input type="submit" name="submit" value="Jai Bajrang Dairy" class="shop_btn">
              </form>
              <i class='fas fa-map-marker-alt' style='font-size:24px'>GT-46,Anand Nagar Colony,Gujrat</i>
              <p style="color:Green">OPEN</p>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
         <div class="card-body">
              <form method="post" class="text-center" action="/product/">
                  {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Neeraj Elecricals">
                  <input type="submit" name="submit" value="Neeraj Elecricals" class="shop_btn">
              </form>
            <i class='fas fa-map-marker-alt' style='font-size:24px'>HY-468,Ameerpet,Hyderabad</i>
              <p style="color:Green">OPEN</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
        <div class="card-body">
            <form method="post" class="text-center" action="/product/">
                {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Print House">
                  <input type="submit" name="submit" value="Print House" class="shop_btn">
              </form>
            <i class='fas fa-map-marker-alt' style='font-size:24px'>CL-24,Lajpatnagar,New Delhi</i>
              <p style="color:Green">OPEN</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-4 mb-4 bg-white" style="border: none">
        <div class="card-body">
            <form method="post" class="text-center" action="/product/">
                {% csrf_token %}
                  <input type="hidden" name="shop_name" value="Ladoo Gopal Dress Store">
                  <input type="submit" name="submit" value="Ladoo Gopal Dress Store" class="shop_btn">
              </form>
            <i class='fas fa-map-marker-alt' style='font-size:24px'>LIG-78,Shbhash Nagar,Maharjpur,Jabalpur</i>
              <p style="color:Green">OPEN</p>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}
<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Our AB_SoftMART</h2>
      <p class="pr-5 text-white-50">Your online AB_SoftMART store includes a built-in commerce shopping cart.
          Your customers can browse and buy from your store using Grocerries,EleCtric ITems or much many You Want to Buy..</p>
      <p><a href="https://www.facebook.com/profile.php?id=100008458966684"><i class="fa fa-facebook-square mr-1"></i></a>
          <a href="https://www.instagram.com/urs_truly_bahubali/"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">EXPLORE</h4>
        <ul class="m-0 p-0">
          <li>- <a href="/home/">Home</a></li>
          <li>- <a href="/shop/">Shop</a></li>
<!--            <li>- <a href="showproduct">Shop Items</a></li>-->
          <li>- <a href="/register/">Registration</a></li>
          <li>- <a href="/applicant/">Login</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p> CL-16,Subhash nagar, Housing board colony, Maharajpur, Jabalpur,MP(482004)</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>9752658795</p>
      <p><i class="fa fa-envelope-o mr-3"></i>ay06291@gmail.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2021. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>